<section>
    <ul class="nav navbar-nav" >
      <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
    </ul>
    <!-- For Dashboard Panel-->
    <!--<div ng-show="tab.isSet(1)" ng-include="'partials/appDashboard.html'"></div>-->

    <!-- For Search Panel -->
    <!--<div ng-show="tab.isSet(2)" ng-include="'ultimotls/audit/searchApp.html'"></div>-->
    
    <!-- For Sunburst Panel -->
    <!--<div ng-show="tab.isSet(3)" ng-include="'ultimotls/dashboard/sunburst/sunburstDashboard.html'"></div>-->

</section>
