<section>
    <ul class="nav navbar-nav" >
        <li ng-class="tabClass(tab)" class="titlemenu" ng-repeat="tab in tabs" tab="tab" style="margin-right: 25px; padding: 5px;">
            <div class="dropdown menuselector" ng-model='env' >
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <a><h4 id="{{tab.label}}" class="menutitle">{{tab.env + tab.label}}</h4><span class="caret"></span></a>
                </div>
                <ul class="dropdown-menu" >
                    <li>
                        <a ng-repeat="id in env" href="{{tab.link}}" ng-click="setEnvironment(tab.label,id);setSelectedTab(tab)">
                            <p >{{id.description}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- For Dashboard Panel-->
    <!--<div ng-show="tab.isSet(1)" ng-include="'partials/appDashboard.html'"></div>-->

    <!-- For Search Panel -->
    <!--<div ng-show="tab.isSet(2)" ng-include="'ultimotls/audit/searchApp.html'"></div>-->
    
    <!-- For Sunburst Panel -->
    <!--<div ng-show="tab.isSet(3)" ng-include="'ultimotls/dashboard/sunburst/sunburstDashboard.html'"></div>-->

</section>
