<section>
    <ul class="nav navbar-nav" >
        <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab" style="margin-right: 25px">
            <div class="dropdown" ng-model='env' >
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <a href="{{tab.link}}" ng-click="setSelectedTab(tab)"><h4 id="{{tab.label}}">{{tab.label}}</h4></a>
                    <span class='caret' onclick='data-toogle'></span>
                </div>
                <ul class="dropdown-menu" >
                    <li>
                        <a ng-repeat="id in env"  href="{{tab.link}}">
                            <p ng-click="setEnviroment(tab.label,id)">{{id.description}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- For Dashboard Panel-->
    <!--<div ng-show="tab.isSet(1)" ng-include="'partials/appDashboard.html'"></div>-->

    <!-- For Search Panel -->
    <!--<div ng-show="tab.isSet(2)" ng-include="'ultimotls/audit/searchApp.html'"></div>-->
    
    <!-- For Sunburst Panel -->
    <!--<div ng-show="tab.isSet(3)" ng-include="'ultimotls/dashboard/sunburst/sunburstDashboard.html'"></div>-->

</section>
