<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid">
    <div id="row1" class="row">
        <div id="legend" style="float: left" ></div>
        <div  class="col-sm-offset-10">
            <div class="dropdown" >
                <div class="dropdown-toggle" data-toggle="dropdown" ng-model="timeSelected">
                    <span onclick='data-toogle'><b>Last - </b></span>
                    <a id="currentTimeSelect">{{timeSelected.description}}</a><span class="caret" style="margin-left: -15px;"></span>
                </div>
                <ul class="dropdown-menu" ng-model="timeOptions" style=" width: 121.22px; left: 42px;">
                    <li ng-repeat="time in timeOptions" style="float: left">
                        <a><p ng-click="fromDateChange(time)">{{time.description}}</p></a>
                    </li>
                </ul>
            </div>
        </div>
        <div  class="col-sm-3" style="text-align: center">
            <button type="button" id="zoomOut" class="btn btn-default" style=" opacity: 0"><span class="glyphicon glyphicon-zoom-out"></span>Zoom out</button>            
        </div>
    </div>
    <div id="row2" class="row col-sm-10 col-xs-12">
        <div id="treemapDiv" class="col-sm-12">
            <treemap-zoom id="treemapZoom" ></treemap-zoom>
        </div>
    </div>  
</div>
<div id="calendarPage" class="modal fade" role="dialog" style="top: 20%">
    <div class="modal-dialog" style="width: 70%">
      <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <div class="container-fluid">
                    <h4 class="modal-title">Calendar</h4>
                    <div>
                        <button style="float: right" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="sliderWindow">
                    <div class="list-group container-fluid">
                        <div class="form-group"> 
                            <label class="control-label col-sm-1 col-sm-offset-1">
                                From
                            </label>
                            <div class="col-sm-2" id="optionField">
                                <input ng-model="calender.from" type="date" name="fromdate">
                            </div>
                            <label class="control-label col-sm-offset-1 col-sm-1">
                                To 
                            </label>
                            <div class="col-sm-2" id="optionField">
                                <input ng-model="calender.to" type="date" name="todate">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="customDate(calender.from, calender.to)">Submit</button>
            </div>
      </div>
    </div>
</div>